{% trans_default_domain 'FOSUserBundle' %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img class="hidden-md-down" width="64" height="64" src="{{ asset('logo/logo.svg') }}" />
            <img class="hidden-lg-up" width="32" height="32" src="{{ asset('logo/logo.svg') }}" />
        </a>
    
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                </li>
                
                {% for item in menuItems %}
                    <li class="nav-item">
                        <a class="nav-link {% if currentRoute == item.path %}active{% endif %}"
                           href="{{ path(item.path) }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('personalInformation') }}">Informations personnelles</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans }} <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    
</nav>