<div class="card mb-4">
    <div class="card-header">
        <h4 class="d-inline" style="line-height: inherit;">{{ course.name }}</h4>
        <span><span class="badge badge-default ml-2 mr-1">{{ course.studentNumber }}</span>places</span>
        {% if course.promotions.last %}
            <a href="{{ path('course_manager.promotion', { 'promotionId': course.promotions.last.id }) }}"
               class="float-right btn btn-primary">Détails <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href="{{ path('course_manager.promotion.add', { 'courseId': course.id }) }}"
               class="float-right btn btn-success">
                <i class="fa fa-users fa-fw" aria-hidden="true"></i> Ajouter une promotion
            </a>
        {% endif %}

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-top-0">
            <strong>Responsable :</strong>&nbsp;{{ course.manager.firstname }} {{ course.manager.lastname }}
        </li>
        {% if course.coManager %}
            <li class="list-group-item">
                <strong>Co-responsable :</strong>&nbsp;{{ course.coManager.firstname }} {{ course.coManager.lastname }}
            </li>
        {% endif %}
    </ul>
</div>
