{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil étudiant{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <div id="courseList">
        {% for application in applications %}
            <div>
                <span>{{ application.promotion.course.name }}</span>
                <span>{{ application.currentState }}</span>
                <div class="workflow-dump" style="display: none">{{ app_factory_workflow.dumpWorflowFromApplication(application) }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
{% endblock %}