{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil étudiant{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <div id="courseList">
        {% for application in applications %}
            {% include "AppBundle:Student:showApplication.html.twig" with {"application": application} %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
{% endblock %}