{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ ('/suivi_alternants/web/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Informations personnelles{% endblock %}

{% block body %}
    <h1>Mes informations personnelles</h1>
    <div id="addStudent">
        {{ form_start(student) }}

        {{ form_row(student.lastName) }}
        {{ form_row(student.firstName) }}
        {{ form_row(student.email) }}
        {{ form_row(student.address.street) }}
        {{ form_row(student.address.postalCode) }}
        {{ form_row(student.address.city) }}
        {{ form_row(student.address.country) }}
        {{ form_row(student.phone) }}
        {{ form_row(student.cellphone) }}
        {{ form_row(student.birthday) }}
        {{ form_row(student.linkedinLink) }}

        <input type="submit" value="Valider" class="btn btn-primary">
        {{ form_rest(student) }}
    </div>
{% endblock %}