<div class="card mb-4">
    <div class="card-header">
        <h4 class="d-inline" style="line-height: inherit;">{{ application.promotion.course.name }}</h4>
        <span class="badge badge-default ml-2 mr-1">{{ application.statusModifications.first().state.name }}</span>
        
        {% for dataAttachment in application.dataAttachments %}
            {% if dataAttachment is company %}
                <a href="{{ path('student.company.edit', { 'companyId' : dataAttachment.id}) }}"
                   class="btn btn-success float-right ml-2">Ajouter les informations de l'entreprise</a>
            {% elseif dataAttachment is afterCourse %}
                <a href="{{ path('student.after_course.edit', { 'afterCourseId' : dataAttachment.id}) }}"
                   class="btn btn-success float-right ml-2">Questionnaire de fin de formation</a>
            {% elseif dataAttachment is tutor %}
                {% if dataAttachment.name is not null %}
                    Tuteur IUT : {{ dataAttachment.name }}
                {% endif %}
            {% else %}
                Aucun formulaire pris en charge, merci de contacter l'administrateur.
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="card-block">
        <div class="workflow-dump text-center p-4 mb-4 bordered zoom-in" style="display: none">
            {{ app_factory_workflow.dumpStudentWorflowFromApplication(application) }}
        </div>
    </div>
</div>
