{% extends '::base.html.twig' %}

{% block title %}Admin - Create course{% endblock %}

{% block body %}
    <h1>Admin - Create course</h1>
    
    {{ form_start(currentForm, {'action': path('admin.edit_course')}) }}
    <div class="container">
        <div class="col-md-6">
            {{ form_label(currentForm.name)}}
            {{ form_widget(currentForm.name, {'attr': {"class": 'form-control'} }) }}
            {{ form_errors(currentForm.name)}}

            {{ form_label(currentForm.manager)}}
            {{ form_widget(currentForm.manager.selector, {'attr': {"class": 'form-control custom-select'} }) }}

            {{ form_label(currentForm.coManager)}}
            {{ form_widget(currentForm.coManager.selector, {'attr': {"class": 'form-control custom-select'} }) }}

            {{ form_label(currentForm.secretariatContactDetails)}}
            {{ form_widget(currentForm.secretariatContactDetails, {'attr': {"class": 'form-control'} }) }}
            {{ form_errors(currentForm.secretariatContactDetails)}}

            {{ form_label(currentForm.submit)}}

            {{ form_widget(currentForm.submit, {'attr': {"class": 'form-control btn btn-primary'} }) }}
            
            {{ form_rest(currentForm) }}
        </div>
    </div>
    
{% endblock %}