{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companycontact</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom de la société : </th>
                <td>{{ companyContact.companyName }}</td>
            </tr>
            <tr>
                <th>Prénom du contact : </th>
                <td>{{ companyContact.firstNameContact }}</td>
            </tr>
            <tr>
                <th>Nom du contact : </th>
                <td>{{ companyContact.lastNameContact }}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{ companyContact.email }}</td>
            </tr>
            <tr>
                <th>Téléphone : </th>
                <td>{{ companyContact.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('companycontact_index', {'courseId': course.id}) }}" class="btn btn-primary">Back to the list</a>
    <a href="{{ path('companycontact_edit', { 'courseId': course.id, 'id': companyContact.id }) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('companycontact_delete', { 'courseId': course.id, 'id': companyContact.id }) }}" class="btn btn-primary">Supprimer</a>
{% endblock %}
