{% extends '::base.html.twig' %}

{% block title %}Liste des étudiant - {{ course.name }}{% endblock %}

{% block body %}

    <h1 class="d-inline">{{ course.name }}</h1>
    <hr>

    {% if promotion %}
        <div class="row col-12 mb-4">
            {{ form_start(promotionsForm, {
                'attr': { 'class': 'form-inline' }
            }) }}
            <div class="form-group">
                <h4>{{ form_label(promotionsForm.promotions, null, { 'label_attr': { 'class': 'mr-sm-2' } }) }}</h4>
                {{ form_widget(promotionsForm.promotions, { 'attr': {
                    'class': 'form-control mb-2 mr-sm-2 mb-sm-0',
                    'onchange': 'this.form.submit();' }
                }) }}
                <span><span class="badge badge-default ml-2 mr-1">{{ promotion.studentNumber }}</span>places maximum</span>
            </div>
            {{ form_rest(promotionsForm) }}
            {{ form_end(promotionsForm) }}
        </div>

        {% if promotion.workflow %}
            <h4>Liste des étudiants</h4>
            <hr>

            {{ form_start(searchForm, { 'attr': { 'class': 'form-inline mb-4' } }) }}
            {{ form_widget(searchForm.lastName, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            {{ form_widget(searchForm.firstName, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            {{ form_widget(searchForm.currentState, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            <button type="submit" class="btn btn-secondary form-control mb-2 mr-sm-2 mb-sm-0" role="button">
                Rechercher <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary"
                    onclick="for (var elem in this.form.elements) { this.form.elements[elem].value = ''; } this.form.submit();">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            {{ form_end(searchForm) }}

            {% if applications %}
                <table class="table table-striped table-bordered">
                    <thead>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Statut</th>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ application.student.lastName }}</td>
                            <td>{{ application.student.firstName }}</td>
                            <td>
                                {% if application.getLastStatusModification() %}
                                    <a href="{{ path('course_manager.application.view', {'applicationId': application.id }) }}">
                                        {{ application.getLastStatusModification().state.name }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('course_manager.application.view', {'applicationId': application.id }) }}">
                                        Application with no status
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info" role="alert">
                    Aucun dossier où vous avez les droits d'intervenir.
                </div>
            {% endif %}

        {% else %}
            <div class="alert alert-info" role="alert">
                Pas d'étudiants pour cette promotion.
            </div>
        {% endif %}
    {% endif %}

{% endblock %}