{% extends '::base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <h1>Ajouter un étudiant</h1>
    <hr />

    <p class="mb-0">Formation : {{ promotion.course.name }}</p>
    <p>Promotion : {{ promotion.name }}</p>

    <div class="row">
        <div class="col">
          <div class="card">

            <h3 class="card-header">
              <i class="fa fa-user" aria-hidden="true"></i> Etudiant existant
            </h3>

            <div class="card-block">
              <form id="addExistingStudent" class="form-inline" action="" method="post">
                  <div class="form-group">
                  <input placeholder="Saisir le nom"
                          id="autocomplete-input"
                          data-suggest="{{ path('course_manager.students.find') }}"
                          class="autocomplete form-control mr-2">
                  <span id="id-student" class="invisible"></span>
                  <button class="btn btn-primary" type="submit">Ajouter</button>
                </div>
              </form>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="card">

            <h3 class="card-header">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Nouvel étudiant
            </h3>

            <div class="card-block">
              {{ form_start(student) }}
              {{ form_widget(student) }}
              <button type="submit" class="btn btn-primary">Valider</button>
              {{ form_rest(student) }}
            </div>
          </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
      $('#autocomplete-input').autocomplete({
          source: fetchStudents,
          minLength: 1,
          select: selectStudent,
      })
        .data( "ui-autocomplete" )._renderItem = renderStudentList;

      function renderStudentList( ul, item ) {
        return $( "<li>" )
          .prop( "id", item.id )
          .append("<a>" + item.name + ", " + item.email + "</a>")
          .appendTo( ul );
      }

      function selectStudent(event, ui) {
        console.log(ui.item.name);
        $('#autocomplete-input').val(ui.item.name);
        $('#id-student').val(ui.item.id);

        let url = "{{ path( 'course_manager.student.add.existing', {'promotionId' : 'promotionId', 'studentId' : 'studentId'} ) }}";
        url = url.replace('promotionId', {{ promotion.id }});
        url = url.replace('studentId', ui.item.id);

        $('#addExistingStudent').attr('action', url);
        return false;
      }

      function fetchStudents(request, response) {
        $.ajax( {
            url: $('#autocomplete-input').attr('data-suggest'),
            dataType: "json",
            data: {
                search: $("#autocomplete-input" ).val(),
            },
            success: function( data ) { response(data);},
        });
      }
    </script>

{% endblock %}
