{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <h1>Ajouter un étudiant</h1>
    <hr>
    <p class="mb-0">Formation : nomFormation</p>
    <p>Promotion : nomPromo</p>
    <div id="addStudent">
        {{ form_start(student) }}
            {{ form_label(student.email) }}
            {{ form_row(student.email) }}
            {{ form_label(student.lastname) }}
            {{ form_row(student.lastname) }}
            {{ form_label(student.firstname) }}
            {{ form_row(student.firstname) }}
    </div>
    <input type="submit" value="Valider" class="btn btn-default">
    {{ form_rest(student) }}
{% endblock %}