{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <h1>Ajouter un étudiant</h1>
    <hr>
    <p class="mb-0">Formation : {{ promotion.course.name }}</p>
    <p>Promotion : {{ promotion.name }}</p>
    <div id="addStudent">
        {{ form_start(student) }}
        {{ form_widget(student) }}
        <input type="submit" value="Valider" class="btn btn-secondary">
        {{ form_rest(student) }}
    </div>
{% endblock %}