{% extends '::base.html.twig' %}

{% block title %}Détails formation - {{ course.name }}{% endblock %}

{% block body %}

    <h1 class="d-inline">{{ course.name }}</h1>
    <span><span class="badge badge-default ml-2 mr-1">{{ course.studentNumber }}</span>places maximum</span>
    <hr>

    <div class="mb-4">
        <a href="{{ path('course_manager.course.edit', { 'courseId': course.id }) }}" class="btn btn-secondary">
            Modifier la formation
        </a>

        <a href="{{ path('companycontact_index', { 'courseId': course.id }) }}" class="btn btn-secondary">
            Liste des contacts entreprise
        </a>
    </div>


    {% if promotion %}
        <div class="row col-12 mb-4">
            {{ form_start(promotionsForm, {
                'attr': { 'class': 'form-inline' },
                'action': path('course_manager.course', { 'courseId': course.id })
            }) }}
            <div class="form-group">
                <h4>{{ form_label(promotionsForm.promotions, null, { 'label_attr': { 'class': 'mr-sm-2' } }) }}</h4>
                {{ form_widget(promotionsForm.promotions, { 'attr': {
                    'class': 'form-control mb-2 mr-sm-2 mb-sm-0',
                    'onchange': 'this.form.submit();' }
                }) }}
            </div>
            {{ form_rest(promotionsForm) }}
            {{ form_end(promotionsForm) }}
        </div>

        {% if promotion.workflow %}
            <div class="mb-3">
                <a href="{{ path('course_manager.promotion.workflow.edit', { 'promotionId': promotion.id }) }}"
                   class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier le workflow</a>
                <a href="{{ path('course_manager.mail.send', { 'promotionId': promotion.id }) }}"
                   class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Envoyer un e-mail</a>
            </div>

            {{ form_start(studentsCsvForm, { 'attr': { 'class': 'mb-4' } }) }}
            {{ form_widget(studentsCsvForm.file, { 'attr': { 'class': 'btn-sm' } }) }}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-users" aria-hidden="true"></i> Ajouter liste d'étudiants
            </button>
            <a href="{{ path('course_manager.student.add', { 'promotionId': promotion.id }) }}"
               class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter un étudiant</a>
            {{ form_end(studentsCsvForm) }}

            <h4>Liste des étudiants</h4>
            <hr>

            {{ form_start(searchForm, { 'attr': { 'class': 'form-inline mb-4' } }) }}
            {{ form_widget(searchForm.lastName, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            {{ form_widget(searchForm.firstName, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            {{ form_widget(searchForm.currentState, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
            <button type="submit" class="btn btn-secondary form-control mb-2 mr-sm-2 mb-sm-0">
                Rechercher <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            {#<button type="reset" class="btn btn-secondary form-control mb-2 mr-sm-2 mb-sm-0">#}
                {#<i class="fa fa-refresh" aria-hidden="true"></i>#}
            {#</button>#}
            {{ form_end(searchForm) }}

            <table class="table table-striped table-bordered">
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                {% for application in applications %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <td>{{ application.student.lastName }}</td>
                        <td>{{ application.student.firstName }}</td>
                        <td>
                            {% if application.getLastStatusModification() %}
                                <a href="{{ path('course_manager.application.view', {'applicationId': application.id }) }}">
                                    {{ application.getLastStatusModification().state.name }}
                                </a>
                            {% else %}
                                <a href="{{ path('course_manager.application.view', {'applicationId': application.id }) }}">
                                    Application with no status
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            Aucun workflow existant pour cette promotion.
            <a href="{{ path('course_manager.promotion.workflow.add', { 'promotionId': promotion.id }) }}"
               class="btn btn-secondary">Ajouter un workflow</a>
        {% endif %}
    {% else %}
        <a href="{{ path('course_manager.course.edit', { 'courseId': course.id }) }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une promotion
        </a>
    {% endif %}

{% endblock %}