{% extends '::base.html.twig' %}

{% block title %}Détails formation - {{ course.name }}{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.studentNumber }} places maximum</p>
    {{ promotion.name }}
    <hr>

    <div class="row col-12">
        {{ form_start(promotionsForm, {
            'attr': { 'class': 'form-inline' },
            'action': path('course_manager.course', { 'courseId': course.id, 'promotion': promotionsForm.promotions.vars.value })
        }) }}
        <div class="form-group">
            {{ form_label(promotionsForm.promotions, null, { 'label_attr': { 'class': 'mr-sm-2' } }) }}
            {{ form_widget(promotionsForm.promotions, { 'attr': { 'class': 'form-control mb-2 mr-sm-2 mb-sm-0' } }) }}
        </div>
        <div class="form-group">
            {{ form_widget(promotionsForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_rest(promotionsForm) }}
        {{ form_end(promotionsForm) }}
    </div>
{% endblock %}