{% extends '::base.html.twig' %}

{% block title %}Modification du workflow{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/zoom.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('course_manager.promotion.workflow.export', { 'promotionId': promotion.id }) }}"
       class="btn btn-secondary pull-right">
        <i class="fa fa-download" aria-hidden="true"></i> Exporter le workflow
    </a>

    <h2>Modification du workflow</h2>
    <hr/>

    <div class="workflow-dump text-center mb-4"
         style="display: none">{{ app_factory_workflow.dumpWorflowFromPromotion(promotion) }}</div>

    <div id="accordion" role="tablist" aria-multiselectable="true">

        {% include "AppBundle:CourseManager:editWorkflowStates.html.twig" with {"promotion": promotion} %}

        <div class="card mb-4">
            <h5 class="card-header">Ajouter un état</h5>
            <div class="card-block">
                {{ form_start(formState) }}
                {{ form_widget(formState) }}
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
                </button>
                {{ form_end(formState) }}
            </div>
        </div>

        {% include "AppBundle:CourseManager:editWorkflowTransitions.html.twig" with {"promotion": promotion} %}

        <div class="card mb-4">
            <h5 class="card-header">Ajouter une transition</h5>
            <div class="card-block">
                {{ form_start(formTransition) }}
                
                {{ form_row(formTransition.name) }}
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(formTransition.startState, {'attr': {"class": 'form-control custom-select'} }) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(formTransition.endState, {'attr': {"class": 'form-control custom-select'} }) }}
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
                </button>
                {{ form_end(formTransition) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
    <script src="{{ asset('js/zoom.min.js') }}"></script>
{% endblock %}