<div class="card mb-3">
    <h4 class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseStates"
        aria-expanded="true" aria-controls="collapseStates" role="button">
        Etats <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </h4>
    <div id="collapseStates" class="collapse" role="tabpanel">
        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>   
                </thead>
                <tbody>
                {% if (workflow.states.count) == 1 %}
                    {% set state = workflow.states.first %}
                    <tr>
                        <td>{{ state.name }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   href="{{ path('course_manager.promotion.workflow.state.rename',
                                   { 'promotionId': promotion.id, 'stateId': state.id }) }}">
                                    Renommer
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    {% for state in workflow.states %}
                        <tr>
                            <td>{{ state.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       href="{{ path('course_manager.promotion.workflow.state.rename',
                                       { 'promotionId': promotion.id, 'stateId': state.id }) }}">
                                        Renommer
                                    </a>
                                    <button type="button"
                                            class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a href="{{ path('course_manager.promotion.workflow.state.delete',
                                        { 'promotionId': promotion.id, 'stateId': state.id }) }}"
                                           class="dropdown-item">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>