<div class="card mb-3">
    <h4 class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseStates"
        aria-expanded="true" aria-controls="collapseStates" role="button">
        <i class="fa fa-circle-thin" aria-hidden="true"></i> Etats <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
    </h4>
    
    <div id="collapseStates" class="collapse" role="tabpanel">
        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% if (promotion.workflow.states.count) == 1 %}
                    {% set state = promotion.workflow.states.first %}
                    <tr>
                        <td>
                            {{ state.name }}
                            {% if state.trigger is not null %}
                                <i class="fa fa-bolt" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
                                   title="Passer dans cet état déclenche une action"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   href="{{ path('course_manager.promotion.workflow.state.rename',
                                   { 'promotionId': promotion.id, 'stateId': state.id }) }}">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Renommer
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    {% for state in promotion.workflow.states %}
                        <tr>
                            <td>
                                {{ state.name }}
                                {% if state.trigger is not null %}
                                    <i class="fa fa-bolt" aria-hidden="true" data-toggle="tooltip"
                                       data-placement="bottom" title="Passer dans cet état déclenche une action"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       href="{{ path('course_manager.promotion.workflow.state.rename',
                                       { 'promotionId': promotion.id, 'stateId': state.id }) }}">
                                       <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Modifier
                                    </a>

                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>

                                    <div class="dropdown-menu">
                                        <a href="{{ path('course_manager.promotion.workflow.state.delete',
                                        { 'promotionId': promotion.id, 'stateId': state.id }) }}"
                                           class="dropdown-item">
                                            <i class="fa fa-times" aria-hidden="true"></i> Supprimer
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>



