{% extends '::base.html.twig' %}

{% block title %}Edit workflow{% endblock %}

{% block body %}
    <h1>Modification de la transition</h1>
    {{ form_start(form) }}
    
    {{ form_row(form.name) }}
    <div class="row">
        <div class="col-sm">
            {{ form_row(form.startState) }}
        </div>
        <div class="col-sm">
            {{ form_row(form.endState) }}
        </div>
    </div>
    
    {% include "AppBundle:CourseManager:editWorkflowTransitionCondition.html.twig" with { "transition" : transition } %}

    <input type="submit" value="Valider" class="btn btn-primary mb-1">

    {%  if transition.condition is null %}
        
        <div class="btn-group mb-1">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une condition
            </button>
            <div class="dropdown-menu">
                <a href="{{ path('course_manager.promotion.workflow.condition.add.date',
                { 'transitionId': transition.id, 'promotionId': promotion.id }) }}"
                   class="dropdown-item">
                    Date
                </a>
                <a href="{{ path('course_manager.promotion.workflow.condition.add.count',
                { 'transitionId': transition.id, 'promotionId': promotion.id }) }}"
                   class="dropdown-item">
                    Nombre d'étudiants
                </a>
            </div>
        </div>
    {% endif %}
    
    {{ form_end(form) }}


{% endblock %}