{% extends '::base.html.twig' %}

{% block title %}Modification du workflow{% endblock %}

{% block body %}
    <a href="{{ path('course_manager.promotion.workflow.export', { 'promotionId': promotion.id }) }}"
       class="btn btn-secondary pull-right">
        <i class="fa fa-download" aria-hidden="true"></i> Exporter le workflow
    </a>

    <h2 class="mb-4">Modification du workflow</h2>

    <div class="workflow-dump" style="display: none">{{ app_factory_workflow.dumpWorflowFromPromotion(promotion) }}</div>

    <div id="accordion" role="tablist" aria-multiselectable="true">

        {% include "AppBundle:CourseManager:editStatesWorkflow.html.twig" with {"workflow": promotion.workflow} %}

        <div class="card mb-4">
            <h5 class="card-header">Ajouter un état</h5>
            <div class="card-block">
                {{ form_start(formState) }}
                {{ form_widget(formState) }}
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
                </button>
                {{ form_end(formState) }}
            </div>
        </div>

        {% include "AppBundle:CourseManager:editWorkflowTransitions.html.twig" with {"promotion": promotion} %}

        <div class="card mb-4">
            <h5 class="card-header">Ajouter une transition</h5>
            <div class="card-block">
                {{ form_start(formTransition) }}
                {{ form_widget(formTransition) }}
                <button type="submit" class="btn btn-success pull-right">
                    <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
                </button>
                {{ form_end(formTransition) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
{% endblock %}