<div class="card mb-4">
    <h4 class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTransition"
        aria-expanded="true" aria-controls="collapseTransition" role="button">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Transitions <i class="fa fa-caret-down pull-right"
                                                                                 aria-hidden="true"></i>
    </h4>

    <div id="collapseTransition" class="collapse" role="tabpanel">
        <div class="card-block">
            <table class="table">
                <thead>
                <tr>
                    <th>Etiquette</th>
                    <th>De</th>
                    <th>A</th>
                    <th>Opération</th>
                </tr>
                </thead>
                <tbody>
                {% for transition in promotion.workflow.transitions %}
                    <tr>
                        <td>
                            {{ transition.name }}
                            {% if transition.condition %}
                                <i class="fa fa-exclamation-triangle" aria-hidden="true" data-toggle="tooltip"
                                   data-placement="bottom"
                                   title="Cette transition comporte une condition d'accès"></i>
                            {% endif %}
                        </td>
                        <td>{{ transition.startState.name }}</td>
                        <td>{{ transition.endState.name }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   href="{{ path('course_manager.promotion.workflow.transition.rename', { 'promotionId': promotion.id, 'transitionId': transition.id }) }}">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Modifier
                                </a>
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{{ path('course_manager.promotion.workflow.transition.delete',
                                       { 'promotionId': promotion.id, 'transitionId': transition.id }) }}">
                                        <i class="fa fa-times" aria-hidden="true"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>