{% extends '::base.html.twig' %}

{% block title %}Modifier formation{% endblock %}

{% block body %}
    <h1>Editer formation</h1>
    <hr>
    <div class="row col-12 mb-4">
        {{ form_start(editCourseForm, {'action': path('course_manager.course.edit', {'courseId' : course.id } )}) }}

        <div class="form-group">
            {{ form_label(editCourseForm.name)}}
            {{ form_widget(editCourseForm.name, {'attr': {"class": 'form-control'} }) }}
            {{ form_errors(editCourseForm.name)}}
        </div>

        <div class="form-group">
            {{ form_label(editCourseForm.manager)}}
            {{ form_widget(editCourseForm.manager.selector, {'attr': {"class": 'form-control custom-select'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(editCourseForm.coManager, 'Co-responsable de formation (optionnel)') }}
            {{ form_widget(editCourseForm.coManager.selector, {'attr': {"class": 'form-control custom-select'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(editCourseForm.secretariatContactDetails)}}
            {{ form_widget(editCourseForm.secretariatContactDetails, {'attr': {"class": 'form-control'} }) }}
            {{ form_errors(editCourseForm.secretariatContactDetails)}}
        </div>

        {{ form_widget(editCourseForm.submit, {'attr': {"class": 'form-control btn btn-primary'} }) }}

        {{ form_rest(editCourseForm) }}
    </div>
{% endblock %}