{% extends '::base.html.twig' %}

{% block title %}Edit workflow{% endblock %}

{% block body %}
    <h2>Modification du workflow</h2>
    <div>
        <h3>Etats</h3>
        <ul>

        </ul>
        <table class="table">
            <tr>
                <th>Etat</th>
                <th>Opération</th>
            </tr>
            {% for state in promotion.workflow.states %}
                <tr>
                    <td>{{ state.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#">Renommer</a>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a href="{{ path('course_manager.promotion.workflow.state.delete', { 'promotionId': promotion.id, 'stateId': state.id }) }}"
                                   class="dropdown-item">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ form_start(formState) }}
        {{ form_widget(formState) }}
        <input type="submit" value="Ajouter cet état" class="btn btn-primary">
        {{ form_rest(formState) }}
    </div>

    <div>
        <h3>Transition</h3>
        <table class="table">
            <tr>
                <th>Etiquette</th>
                <th>De</th>
                <th>A</th>
                <th>Opération</th>
            </tr>
            {% for transition in promotion.workflow.transitions %}
                <tr>
                    <td>{{ transition.name }}</td>
                    <td>{{ transition.startState.name }}</td>
                    <td>{{ transition.endState.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#">Renommer</a>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}