{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil formateur{% endblock %}

{% block body %}
    <h1>Formations</h1>
    <hr>
    <div id="courseList">
        {% for courseManaged in coursesManaged %}
            <div>
                <h4>{{ courseManaged.name }}</h4>
                <span>Nombre maximum d'étudiants : {{ courseManaged.studentNumber }}</span>
                <button class="btn btn-default">
                    <a href="{{ path('course_manager.course', {'courseId' : courseManaged.id}) }}">Détail de la formation</a>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}