{% extends '::base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>Envoyer e-mail</h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Status</th>
            <th>Selectionner</th>
        </tr>
        </thead>
        <tbody>
        {% for choice in form.users.vars.choices %}
            {% set application = choice.data %}
            <tr>

                <td>{{  application.student.firstName }} {{  application.student.lastName }}</td>
                {% if application.getLastStatusModification() %}
                    <td>{{ application.getLastStatusModification().state.name }}</td>
                {% else %}
                    <td>Il n'y a pas de latest status, ce qui n'est pas trop logique</td>
                {% endif %}
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="email_message_users_{{ loop.index }}" name="email_message[users][]" value="{{ loop.index }}">
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {{ form_row(form.object) }}
    {{ form_row(form.message) }}
    {{ form_row(form._token) }}

    <input type="submit" value="Envoyer l'email"
           class="btn btn-default" />

{% endblock %}