{% extends '::base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>Envoyer e-mail</h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Status</th>
            <th>Selectionner</th>
        </tr>
        </thead>
        <tbody>
        {% for choice in form.users.vars.choices %}
            {% set application = choice.data %}
            <tr>

                <td>{{ application.student.firstName }} {{ application.student.lastName }}</td>
                {% if application.getLastStatusModification() %}
                    <td>{{ application.getLastStatusModification().state.name }}</td>
                {% else %}
                    <td>Il n'y a pas de latest status, ce qui n'est pas trop logique</td>
                {% endif %}
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="email_message_users_{{ loop.index }}"
                                   name="email_message[users][]" value="{{ loop.index }}">
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="form-group">
        {{ form_row(form.object) }}
        {{ form_widget(form.object) }}
        {{ form_errors(form.object) }}
    </div>

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, { 'attr': { 'rows': '8' } }) }}
        {{ form_errors(form.message) }}
    </div>

    {{ form_row(form._token) }}
    <input type="submit" value="Envoyer l'email" class="btn btn-primary"/>

{% endblock %}