{% extends '::base.html.twig' %}

{% block title %}Ajouter un étudiant{% endblock %}

{% block body %}
    <h1>Envoyer e-mail</h1>
    <hr>

    {{ form_start(form) }}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>
                <select name="select-all-by-status" id="select-all-by-status" class="custom-select">
                    <option value="none" selected>Aucun</option>
                    <option value="all">Tous</option>
                    {% for state in promotion.workflow.states %}
                        <option value="{{ state.name }}">{{ state.name }}</option>
                    {% endfor %}
                </select>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for choice in form.users.vars.choices %}
            {% set application = choice.data %}
            <tr>
                <td>{{ application.student.lastName }}</td>
                <td>{{ application.student.firstName }}</td>
                {% if application.getLastStatusModification() %}
                    <td>{{ application.getLastStatusModification().state.name }}</td>
                {% else %}
                    <td>--</td>
                {% endif %}
                <td>
                    {% if application.getLastStatusModification() %}
                        <input type="checkbox" id="email_message_users_{{ loop.index - 1 }}"
                               name="email_message[users][]" value="{{ loop.index - 1 }}"
                               data-state="{{ application.getLastStatusModification().state.name }}">
                    {% else %}
                        <input type="checkbox" id="email_message_users_{{ loop.index - 1 }}"
                               name="email_message[users][]" value="{{ loop.index - 1 }}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="form-group">
        {{ form_row(form.object) }}
        {{ form_widget(form.object) }}
        {{ form_errors(form.object) }}
    </div>

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, { 'attr': { 'rows': '8' } }) }}
        {{ form_errors(form.message) }}
    </div>

    {{ form_row(form._token) }}
    <a href="{{ path('course_manager.promotion', { 'promotionId': promotion.id }) }}"
       class="btn btn-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</a>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-envelope" aria-hidden="true"></i> Envoyer l'email
    </button>

{% endblock %}
