{% extends '::base.html.twig' %}

{% block title %}Détails d'une candidature{% endblock %}

{% block body %}
    <h1>{{ application.student.firstName }} {{ application.student.lastName }}</h1>
    <hr>

    <h2 class="mb-4">Statut : {{ application.lastStatusModification.state.name }}</h2>

    <div class="workflow-dump text-center mb-4 bordered zoom-in" style="display: none">
        {{ app_factory_workflow.customDumpWorflowFromApplication(application) }}
    </div>

    <div class="mb-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="btn btn-primary"/>
        {{ form_end(form) }}
    </div>
    <div>
        <h4>Historique des étapes</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Date de modification</th>
                <th>Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {% for statusModification in application.statusModifications %}
                <tr>
                    <td>{{ statusModification.state.name }}</td>
                    <td>{{ statusModification.dateTime | date }}</td>
                    <td>{{ statusModification.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
{% endblock %}