{% extends '::base.html.twig' %}

{% block title %}Détails d'une candidature{% endblock %}

{% block body %}
    <h1>{{ application.student.firstName }} {{ application.student.lastName }}</h1>
    <h2>Status : {{ application.lastStatusModification.state.name }}</h2>
    <div id="workflow" style="display: none">{{ app_factory_workflow.dumpWorflowFromApplication(application) }}</div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider"
               class="btn btn-default" />
        {{ form_end(form) }}
    </div>
    <div>
        <span>Historique des étapes</span>
        <table class="table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Date de modification</th>
                <th>Commentaire</th>
            </tr>
            </thead>
            <tbody>
                    {% for statusModification in application.statusModifications %}
                        <tr>
                            <td>{{ statusModification.state.name }}</td>
                            <td>{{ statusModification.dateTime | date}}</td>
                            <td>{{ statusModification.comment }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/viz.js') }}"></script>
    <script src="{{ asset('js/workflowDisplay.js') }}"></script>
{% endblock %}